server:
  port: 8080
  error:
    include-message: always
spring:
  datasource:
    url: postgres://yavxfqjeuwhmrn:6b83c866cd42e173e50631f434f7335389ac71f81b7fe7e9b2f775791bc58488@ec2-34-249-161-200.eu-west-1.compute.amazonaws.com:5432/dea709n2p423pr
    username: 'yavxfqjeuwhmrn'
    password: '6b83c866cd42e173e50631f434f7335389ac71f81b7fe7e9b2f775791bc58488'
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create
    defer-datasource-initialization: true
  sql:
    init:
      mode: always
  servlet:
    multipart:
      max-request-size: 20MB
      max-file-size: 20MB


telegram_bot_username: sharp_0706_bot
telegram_bot_botToken: 5262928944:AAE9u_A7V-hzmoIjyih7KITN0vPvolfx5-w
#special_code: '+998909741228 +998332002022'


#https://matn.uz/


#https://matn.uz/


